{{ partial "head" . }}
<body>

    {{ partial "off-canvas" . }}

    <div class="site-wrapper">
        {{ partial "header" . }}

        <section class="single-wrap">
            <article class="single-content" itemscope itemtype="//schema.org/BlogPosting">
                <div class="feat">
                    <h5 class="page-date">
                    <time datetime="" itemprop="datePublished">
                    {{ .Date.Format "2. January 2006" }}
                    </time>
                    </h5>
                </div>
                <h1 class="page-title" itemprop="name headline">{{ .Title }}</h1>

                <div class="fb-ad" data-placementid="1676323079284163_1676324105950727" data-format="300x250" data-testmode="false"></div>

                <div itemprop="articleBody">
                    {{ .Content }}
                </div>

                <script>
                  window.fbAsyncInit = function() {
                    FB.Event.subscribe(
                      'ad.loaded',
                      function(placementId) {
                        console.log('Audience Network ad loaded');
                      }
                    );
                    FB.Event.subscribe(
                      'ad.error',
                      function(errorCode, errorMessage, placementId) {
                        console.log('Audience Network error (' + errorCode + ') ' + errorMessage);
                      }
                    );
                  };
                  (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk/xfbml.ad.js#xfbml=1&version=v2.5&appId=1676323079284163";
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>

                <div class="feat share">
                    <a href="//twitter.com/share" class="popup">
                        <span class="icon-twitter"></span>
                    </a>
                </div>

                {{ template "_internal/disqus.html" . }}

                {{ if .NextInSection }}
                    <a rel="next" href="{{ .NextInSection.Permalink }}" id="next">
                        <span class="nav-title nav-title-next">{{ with .Site.Params.newer }}{{ . }}{{ end }}</span> &rarr;
                    </a>
                {{ end }}
                {{ if .PrevInSection }}
                    <a rel="prev" href="{{ .PrevInSection.Permalink }}" id="prev">
                        &larr; <span class="nav-title nav-title-prev">{{ with .Site.Params.older }}{{ . }}{{ end }}</span>
                    </a>
                {{ end }}
            </article>
        </section>

        {{ partial "footer" . }}
    </div>

    {{ partial "js" . }}
</body>
</html>
