{{ partial "head" . }}
<body>

    {{ partial "off-canvas" . }}
    not found
    <div class="site-wrapper">
        {{ partial "header" . }}

        <section class="single-wrap">
            <article class="single-content">
                <h1 class="page-title" itemprop="name headline">{{ .Site.Params.pageNotFoundTitle  }}</h1>
                <h3 style="text-align: center;">{{ .Site.Params.pageNotFoundSubtitle  }}</h3>
			</article>
		</section>

        {{ partial "footer" . }}
    </div>

    {{ partial "js" . }}

</body>
</html>